@import
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss';
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
	url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
	url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
	url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

body{
	font: 14px/24px HelveticaNeueCyr, sans-serif;
	color: #5f6b7b;
}
// The Mixin 
@mixin placeholder_custom{
	&:-ms-input-placeholder {
		@content
	}
	&::-moz-placeholder {
		@content
	}
	&::-webkit-input-placeholder {
		@content
	}
}
a,button{
	outline: none !important;
}
a{
	color: #38c173;
	&:hover{
		color: #38c173;
	}
	&.text_underline{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.centered_wrapper{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.btn-light{
	color: #5f6b7b;
}
.btn{
	font-weight: 500;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn_small{
	font-weight: normal;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 5px;
}
.form-control{
	font-size: 16px;
	color: #5f6b7b;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 49px;
	border-color: #cfd6de;
	@include placeholder_custom {
		color: #cfd6de;
	}
	&:focus{
		border-color: #38c173;
	}
}
.minw_0{
	min-width: 0;
}
.jcf-select{
	background: #fff;
	border-color: #cfd6de;
	border-radius: 9px;
	color: #480f63;
	height: 49px;
	margin-bottom: 0;
	width: 100%;
	display: block;
	cursor: pointer !important;
	min-width: 100px;
	max-width: 100%;
	.jcf-select-text{
		font-size: 16px;
		line-height: 48px;
		color: #5f6b7b;
		position: relative;
		margin-right: 30px;
		margin-left: 14px;
		cursor: pointer;
		img{
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			left: 0;
			display: block;
			max-height: 20px;
			width: auto;
		}
	}
	.jcf-select-opener{
		background: none;
		width: 30px;
		&:after{
			content: '';
			width: 8px;
			height: 8px;
			border: 0;
			border-left: 2px solid #38c173;
			border-bottom: 2px solid #38c173;
			position: relative;
			transform:translateY(-50%) rotate(-45deg);
			position: absolute;
			top: 50%;
			left: auto;
			right: 20px;
		}
	}
}
.jcf-list-box .jcf-selected, .jcf-select-drop .jcf-hover{
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}
.jcf-select-drop{
  margin-top: 2px !important;
  img{
    max-width: 30px;
    display: block;
    height: auto;
  }
  .jcf-select-drop-content{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    background: #fff;
  }
  .jcf-list{background: none;}
  ul{
    padding: 8px 0;
    li{
      span{
        padding: 5px 14px !important;
        cursor: pointer !important;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        white-space: normal !important;
        &:hover{
			background: none;
			color: #38c173
        }
      }
    }
  }
}
.jcf-hover{
	background: none !important;
	color: #449ad9;
}
.jcf-focus,.jcf-focus *{
  border-color:#38c173 !important;
  transition: border-color 0.15s ease-in-out;
}
.btn_white{
	background: #fff;
}
.icn_fw{
	text-align: center;
	width: 1.25em;
	display: inline-block;
}
.budget_inf{
	min-width: 14px;
	padding: 0 2px;
	height: 14px;
	border-radius: 50%;
	background: #38c173;
	position: absolute;
	top: -7px;
	right: -7px;
	color: #fff;
	font-size: 8px;
	line-height: 14px;
	text-align: center;
	display: block;
}
.i_g_p_drop{
	.jcf-focus,.jcf-focus *{
	  border-color:#cfd6de !important;
	}
	.jcf-select-text{
		color: #8895a6;
	}
	.jcf-select-drop{
		width: 250px !important;
	}
	.jcf-select{
		width: 270px;
		border-radius: 9px 0 0 9px;
		border-right: 0 !important;
		position: relative;
		z-index: 2;
		.jcf-list-content{
			max-height: 250px;
		}
		&:after{
			content: '';
			width: 1px;
			height: 30px;
			background: #e2e6ef;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}
	.dropdown{
		max-width: 270px;
		flex:0 0 270px;
		.btn{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-color: #cfd6de;
			font-size: 16px;
			font-weight: normal;
			padding-top: 11px;
			padding-bottom: 12px;
			padding-right: 25px;
			padding-left: 20px;
			border-right: 0 !important;
			position: relative;
			max-width: 100%;
			// overflow: hidden;
			&:before{
				content: '';
				width: 1px;
				height: 30px;
				background: #e2e6ef;
				position: absolute;
				top: 50%;
				right: 0;
				transform:translateY(-50%);
			}
			&:after{
				width: 8px;
				height: 8px;
				border: 0;
				border-left: 2px solid #38c173;
				border-bottom: 2px solid #38c173;
				position: relative;
				transform:translateY(-50%) rotate(-45deg);
				right: 11px;
				position: absolute;
				top: 50%;
			}
		}
	}
	
}
.input_group_xs_different{
	@include media-breakpoint-down(xs) {
		display: block !important;
		.input-group-prepend{
			margin: 0;
			display: block !important;
			.dropdown{
				max-width: 100%;
				flex:0 0 100%;
				margin-bottom: 15px;
				.btn{
					border-radius: 9px;
					display: block;
					text-align: left;
					padding-left: 15px;
				}
			}
			.dropdown-menu{
				width: 100%;
				max-height: 150px;
				overflow: auto;
			}
		}
		.form-control{
			width: 100%;
			display: block;
			border-radius: 9px !important;
		}
	}
}
.darken_color{
	color: #222834 !important;
}
.fz_18{
	font-size: 18px;
	line-height: 20px;
}
.fz_40{
	font-size: 40px;
}
.w_150{
	width: 150px !important;
}
h1,.h1{
	font-weight: 500;
	font-size: 24px;
	line-height: 26px;
}
h3,.h3{
	font-size: 18px;
	line-height: 20px;
	color: #5f6b7b;
}
.gray_light{
	background: #f8f9fb !important;
}
.styled_title{
	padding-bottom: 16px;
	position: relative;
	&:after{
		content: '';
		bottom: 0;
		left: 0;
		position: absolute;
		height: 2px;
		width: 40px;
		background: #38c173;
	}
	&.styled_title_gray{
		&:after{
			background: #cfd6de;
		}
	}
	span{
		padding-right: 20px;
	}
	em{
		font-style: normal;
		a{
			color: #b8c5ce;
			font-size: 24px;
			line-height: 26px;
			text-decoration: none;
			top: 2px;
			&:hover{
				color: #38c173;
			}
		}
	}
	a{
		font-size: 12px;
		line-height: 14px;
		text-decoration: underline;
		color: #38c173;
		position: relative; 
		top: -3px;

		&:hover{
			text-decoration: none;
		}
	}
}
.breadcrumbs_block{
	background: #f8f9fb;
	ul{
		color: #5f6b7b;
		font-size: 14px;
		line-height: 20px;
		a{
			color: #8895a6;
			display: inline;
			position: relative;
			&:hover{
				text-decoration: none;
				color: #38c173;
				&:after{
					border-color: #38c173;
				}
			}
			&:after{
				content: '';
				width: 7px;
				height: 7px;
				display: inline-block;
				border-left: 2px solid #cfd6de;
				border-bottom: 2px solid #cfd6de;
				transform:rotate(-135deg);
				margin-left: 10px;
				position: relative;
				top: -1px;
			}
		}
		li{
			padding-right: 15px;
			&:last-child{
				padding-right: 0;
			}
		}
	}
}
.list_numered{
	padding: 0;
	margin: 0;
	list-style: none;
 	counter-reset: li_counter;
 	li{
 		counter-increment: li_counter;
 		&:before{
 			content: counter(li_counter) ". ";
 			font-weight: 500;
 		}
 	}
}
.checkbox_custom{
	position: relative;
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    color: #5f6b7b;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #e1e7ec;
    background: #fff;
    border-radius: 2px;
  }
  [type="checkbox"]:checked + label:before{
    background: #38c173;
    border-color: #38c173;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 9px;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform:skewX(-10deg) rotate(-50deg);
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform:skewX(-10deg) rotate(-50deg) scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform:skewX(-10deg) rotate(-50deg) scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: rgba(#ddd,.4);
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
	label{
		&:hover{
			color: #38c173 !important;
			&:before{
				border-color: #38c173 !important;
			}
		}
	}
	&.checkbox_custom_link{
		border: 1px solid #cfd6de;
		border-radius: 5px;
		line-height: 0;
		label{
			padding: 8px 8px 8px 38px !important;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: 230px;
			overflow: hidden;
			&:before{
				left: 8px !important;
				top: 6px !important;
			}
			&:after{
				left: 14px !important;
				top: 12px !important;
			}
		}
	}
}
.lh_16{
	line-height: 16px !important;
}
.custom_radio{
	[type="radio"]:not(:checked),
	[type="radio"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="radio"]:not(:checked) + label,
	[type="radio"]:checked + label {
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 16px;
		color: #5f6b7b;
	}
	[type="radio"]:checked + label{
		color: #38c173;
	}
	/* checkbox aspect */
	[type="radio"]:not(:checked) + label:before,
	[type="radio"]:checked + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 1px;
		width: 20px;
		height: 20px;
		border: 2px solid #d0d7df;
		background: #fff;
		border-radius: 50%;
	}
	[type="radio"]:checked + label:before{
		border-color: #38c173;
		border-width: 6px;
	}
	/* checked mark aspect changes */
	[type="radio"]:not(:checked) + label:after {
		opacity: 0;
		transform:skewX(-10deg) rotate(-50deg) scale(0);
	}
	/* disabled radio */
	[type="radio"]:disabled:not(:checked) + label:before,
	[type="radio"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color: rgba(#ddd,.4);
	}
	[type="radio"]:disabled:checked + label:after {
		color: #999;
	}
	[type="radio"]:disabled + label {
		color: #aaa;
	}
	label{
		&:hover{
			color: #38c173 !important;
			&:before{
				border-color: #38c173 !important;
			}
		}
	}
	&.custom_radio_row{
		border-bottom: 1px solid darken(theme-color("gray"),10%);
		label{
			height: 48px;
			justify-content:space-between;
			display: flex;
			align-items:center;
			padding-right: 15px;
			padding-left: 35px !important;
			transition: all 0.3s ease;
			&:hover{
				// color: #5f6b7b !important;
			}
		}
		[type="radio"]:not(:checked) + label:before,
		[type="radio"]:checked + label:before{
			top: 50%;
			transform:translateY(-50%);
			left: 10px;
			transition: all 0.2s ease;
		}
		[type="radio"]:not(:checked) + label:before{
			content: none;
		}
		[type="radio"]:checked + label:before{
			width: 14px;
			height: 9px;
			background: none;
			border: 0;
			border-left: 3px solid theme-color("white") !important;
			border-bottom: 3px solid theme-color("white") !important;
			border-radius: 0;
			margin-top: -2px;
			transform:translateY(-50%) rotate(-45deg);
		}
		span{
			text-align: right;
			strong{
				display: block;
				font-size: 15px;
			}
		}
		.text_help{
			display: none;
			font-size: 12px;
		}
		[type="radio"]:checked + label{
			background: theme-color("success") !important;
			border-bottom-color: theme-color("success") !important;
			color: #fff !important;
		}
		&.low_money{
			[type="radio"]:checked + label{
				background: lighten(theme-color("danger"),10%) !important;
				.text_help{
					display: block;
				}
			}
		}
	}
	&.payment_radio{
		height: 50px;
		background: #fff;
		@include media-breakpoint-down(xs) {
			height: 70px;
		}
		img{
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 4px;
		}
		[type="radio"]:not(:checked) + label,
		[type="radio"]:checked + label{
			display: block;
			width: 100%;
			height: 100%;
			padding: 10px !important;
			border: 1px solid #ddd;
			border-radius: 5px;
		}
		[type="radio"]:not(:checked) + label:before{
			content: none;
		}
		[type="radio"]:not(:checked) + label{
			opacity: .3;
		}
		[type="radio"]:not(:checked) + label img{
			filter: grayscale(100%);
		}
		[type="radio"]:checked + label img{
			filter:none;
		}
		[type="radio"]:checked + label{
			opacity: 1;
			box-shadow: 0px 1px 20px -2px rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease;
			border-color: theme-color("success");
		}
		[type="radio"]:checked + label:before{
			content: none;
		}
	}
}
.btn-outline-success{
	border-width: 2px;
	color: #5f6c7c;
}
.pager_list{
	padding: 0 10px;
	li{
		color: #b5bdca;
		padding: 0 4px;
		a{
			color: #b5bdca;
			&:hover{
				color: #38c173;
				text-decoration: none;
			}
		}
		&.active{
			a{
				color: #38c173;
				text-decoration: underline;
			}
		}
	}
}
.pager_block{
	.nav_links{
		color: #b5bdca;
		a{
			color: #b5bdca;
			&:hover{
				color: #38c173;
			}
		}
	}
}
.star_list{
	font-size: 0 !important;
	line-height: 0;
	i{
		color: #cfd6de !important;
		padding: 0 2px !important;
		margin: 0 !important;
		font-size: 15px !important;
		// cursor: pointer;
		line-height: 1 !important;
		&:first-child{
			padding-left: 0 !important;
		}
		&.active{
			color: #f4ca64 !important;
		}
		// &:hover{
		// 	color: #f4ca64 !important;
		// }
	}
}
.btn-outline-dark_gray{
	color: #5f6b7b;
	font-weight: normal;
	&:hover,&:active,&:focus,&.active{
		background: #38c173 !important;
		border-color: #38c173 !important;
		color: #fff !important;
	}
}
.btn_sm{
	font-size: 14px;
	line-height: 16px;
	border-radius: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.btn-light.disabled, .btn-light:disabled{
	color: #cfd6de;
	background-color: #f8f9fb;
	border-color: #f8f9fb;
}
.field_with_icon{
	display: block;
	position: relative;
	i{
		position: absolute;
		right:20px;
		top: 50%;
		transform:translateY(-50%);
		color: #8895a6;
		font-size: 10px;
	}
	.form-control{
		padding-right: 40px;
	}
}
.btn_xs_block{
	@include media-breakpoint-down(sm) {
		display: block !important;
		width: 100%;
	}
}
.color_gray{
	color: #8895a6;
}
.fz_30{
	font-size: 30px;
}
.fz_15{
	font-size: 15px !important;
}
.fz_9{
	font-size: 9px !important;
}
.text_muted{
	color: #ccc;
}
.inputfile_custom{
	display: flex;
	width: 100%;
	border: 1px solid #cfd6de;
	padding: 0 12px;
	border-radius: 8px;
	cursor: pointer;
	.form-control{
		display: none;
	}
	span{
		display: block;
		flex-grow: 1;
		max-width: 100%;
		flex-basis: 0;
		width: 100%;
		height: 49px;
		font-size: 16px;
		color: #5f6b7b;
		line-height: 49px;
		&.withFile{
			color:theme-color("success");
			+ em{
				svg{
					color:theme-color("success");
				}
			}
		}
	}
	em{
		max-width: 25px;
		flex:0 0 25px;
		svg{
			width: 20px;
			height: 20px;
		}
	}
}
body >  .jcf-select-select_in_modal{
	z-index: 1050 !important;
}
.list_group_cstm{
	.list-group-item{
		border-radius: 4px !important;
		margin-bottom: 10px;
		border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
		.alert{
			border-radius: 0 0 4px 4px;
		}
		// &:last-child{
		// 	margin-bottom: 0;
		// }
	}
	.btn_dell{
		position: absolute;
		top: 5px;
		right: 10px;
	}
}
.btn_dell{
	width: 12px;
	height: 12px;
}
.qr_code_styles{
	img{
		margin: 0 auto;
		display: block;
	}
}
.faq_list{
	.faq_item{
		border-bottom: 1px solid #f2f3f5;
	}
	.heading{
		.btn{
			font-size: 15px;
			line-height: 19px;
			text-align: left;
			display: flex;
			width: 100%;
			position: relative;
			color: #5f6b7b;
			padding-left: 35px !important;
			// font-weight: 400;
			.toggler{
				background: theme-color('success');
				width: 25px;
				max-width: 25px;
				flex:0 0 25px;
				height: 25px;
				border-radius: 50%;
				position: absolute;
				top: 7px;
				left: 0;
				&:after,&:before{
					content: '';
					width: 12px;
					height: 2px;
					background: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: all 0.2s ease;
				}
				
			}
			&.collapsed{
				.toggler{
					&:after{
						transform: translate(-50%, -50%) rotate(-90deg);
					}
				}
			}
			&:hover,&:active,&:focus{
				text-decoration: none;
			}
		}
	}
}
.dropdown_menu_long{
	max-height: 300px;
	overflow: auto;
}
.pseudo_select{
	background: #fff;
	width: 100%;
	border-top: 1px solid #cfd6de;
	border-bottom: 1px solid #cfd6de;
	&:hover{
		text-decoration: none;
		// background: lighten(theme-color("success"),40%);
	}
}
.dropdown_toggle{
	position: relative;
	&:after{
		width: 8px;
		height: 8px;
		border: 0;
		border-left: 2px solid #38c173;
		border-bottom: 2px solid #38c173;
		transform: translateY(-50%) rotate(-45deg);
		right: 11px;
		position: absolute;
		top: 50%;
		content: '';
	}
}
.rounded_right{
	border-radius: 0 9px 9px 0;
}
.btn_settings{
	border-radius:0;
	font-size: 20px;
	line-height: 1;
	i{
		font-family: "Icons";
		height: 20px;
	}
	@include media-breakpoint-down(sm) {
		border-radius:  0  7px 7px 0;
	}
}
.input_overlay {
	&.opened{
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		min-height: 100vh;
		background: rgba(#000,.6);
		z-index: 10;
	}
}
.search_bar{
	&.active{
		z-index: 11;
	}
}
.search_bar_panel{
	position: sticky;
	z-index: 5;
	left: 0;
	top: 56px;
	// right: 0;
	width: 100% !important;
	.i_g_p_drop{
		flex: 0 0 200px;
		max-width: 200px;
		.dropdown-menu{
			width: 250px;
		}
		.dropdown{
			flex: 0 0 100%;
			max-width: 100%;
			> a{
				width: 100%;
				text-align: left;
			}
		}
	}
	.mix_rounded{
		border-right-color: #fff;
		@include media-breakpoint-down(md) {
			border-radius: 7px 0 0 7px !important;
		}
		&:focus{
			border-right-color: theme-color("success");
			z-index: 2;
			position: relative;
		}
	}
	.pseudo_select{
		position: relative;
		&:before{
			content: '';
			width: 1px;
			height: 30px;
			background: #e2e6ef;
			position: absolute;
			top: 50%;
			left: -1px;
			transform: translateY(-50%);
		}
	}
}
.back_toggler{
	background: #fff;
	border-radius: 7px 0 0 7px !important;
	cursor: pointer;
	border: 1px solid theme-color("danger");
	border-right: 0;
}
.holder_overlay{
	&.active{
		position: relative;
		z-index: 20;
		@include media-breakpoint-down(md) {
			.back_toggler{
				display: flex !important;
			}
			.btn{
				display: none !important;
			}
			.mix_rounded{
				border-radius:0 7px 7px 0 !important;
			}
		}
	}

}
.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1070;
	border: 1px solid theme-color("success") !important;
	li div{
		&:hover{
			background:theme-color("success") !important;
			color: #fff;
			border: 0;
		}
	}
}
.jcf-select-present_in_sidebar{
	z-index: 30 !important;
	.jcf-list-content{
		max-height: 200px;
		overflow: auto;
	}
}
.mobile_filter{
	position: fixed;
	width: 300px;
	top: 0;
	bottom: 0;
	left: -300px;
	z-index: 20;
	height: 100%;
	background: #fff;
	background: #222;
	overflow-y: auto;
	transition: all 0.3s ease;
	// border-right: 1px solid #fff;
	&.active{
		left: 0;
		.close_filter{
			top: 10px;
			transition: all 0.5s ease;
		}
	}
}
.body_overflow{
	overflow: hidden;
}
.close_filter{
	position: fixed;
	top: -100%;
	left: 300px;
	opacity: 1;
	background: theme-color("danger") !important;
	color: #fff !important;
	padding:5px 10px !important;
	// border: 1px solid #fff !important;
	border-left: 0 !important;
	font-weight: normal !important;
	&:hover{
		opacity: 1 !important;
	}
}
.ui_widget_holder{
	position: relative;
	flex-grow: 1;
	flex-basis: 0;
	width: 100%;
	max-width: 100%;
}
.custom_radio{
	[type="radio"]:checked + label{
		.star_list{
			display: inline-block;
			i{
				color: theme-color("danger") !important;
			}
		}
	}
}
.loader_ico{
	.input-group-text{
		width:60px;
		position: relative;
	}
	i{
		color: theme-color("success");
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 26px;
		transform:translate(-50%,-50%);
	}
}
.mt_custom_switch{
	margin-top: 38px;
}
.fa-rotate-sm_90{
	@include media-breakpoint-down(sm) {
		transform:rotate(90deg);
	}
}
.fz_60{
	font-size: 60px;
	line-height: 1;
}
.fz_sm_25{
	@include media-breakpoint-down(sm) {
		font-size: 25px !important;
		line-height: 27px !important;
	}
}