@import
'_custom_bootstrap_vatiables.scss',
'../../bower_components/bootstrap/scss/_functions.scss',
'../../bower_components/bootstrap/scss/_variables.scss',
'../../bower_components/bootstrap/scss/_mixins.scss',
'_param',
'_icons.scss',
'footer',
'header';
html,
body {
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.w1 {
	flex: 1 0 auto;
	padding-bottom: 30px;
	min-height: 1%;
}
.footer {
	flex: 0 0 auto;
}
.main{
	padding-top: 56px;
	padding-bottom: 50px;
	@include media-breakpoint-down(xs) {
		padding-top: 46px;
	}
	@include media-breakpoint-down(md)  {
		padding-bottom: 0;
	}
}
.search_bar{
	background: #213d53;
}
.box_info{
	border-radius: 9px;
	ul{
		strong{
			font-weight: 500;
			color: #222834;
			font-size: 30px;
			line-height: 32px;
			@include media-breakpoint-down(sm)  {
				font-size: 16px;
			}
		}
		span{
			max-width: 166px;
			flex:0 0 166px;
		}
		i{
			font-size: 28px;
			margin-right: 15px;
		}
		em{
			font-style: normal;
			color: #5f6b7b;
			font-size: 14px;
			line-height: 16px;
		}
		i,em{
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.item_card{
	background: #e2e6ef;
	border-radius: 9px;
	
	.item_title{
		font-weight: 500;
		font-size: 24px;
		line-height: 26px;
		color: #5f6b7b;
	}
	.item_txt{
		font-size: 14px;
		line-height: 17px;
		color: #8895a6;
	}
	.item_cost{
		font-size: 30px;
		line-height: 32px;
		font-weight: 500;
		color: #5f6b7b;
	}
	.item_prev{
		width: 100px;
		margin: 0 auto;
		img{
			border-radius: 50%;
			display: block;
			max-width: 100%;
		}
	}
	&:hover{
		text-decoration: none;
		background: #38c173;
		.item_title{
			color: #145239;
		}
		.item_txt,.item_cost{
			color: #fff;
		}
	}
}